<!DOCTYPE HTML> 
<html> 
	<head> 
		<title>Case Studies</title> 
		<!-- JQuery and D3.js -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.9/d3.js"></script>
		<!-- Uranus -->
		<script type="text/javascript" src="https://rawgit.com/jstoxrocky/d3sg/master/d3sg.js"></script>
		<link href="https://rawgit.com/jstoxrocky/d3sg/master/d3sg_style.css" type="text/css" rel="stylesheet">
		<!-- Original styles -->
		<link rel= "stylesheet" type= "text/css" href="static/style.css">
		<!-- Original js -->
		<script src="static/script.js"></script>
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<!-- Optional theme -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
	</head> 
	<body>

	<header>
		<div class="jumbotron">
			<div class="container">
				<h1>WIP</h1>
				<h4>Long-Running Tasks in Flask (Celery and Redis), Docker, & Kubernetes</h4>
			</div>
		</div>
	</header>

	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="well">
					<form action="" class="form-horizontal">
						<div class="form-group has-feedback">
				      		<div class="col-lg-3">
				      			<input type="text id" class="form-control" id="name_input" placeholder="Name">
				      		</div>
				      		<div class="col-lg-3">
					      		<button type="submit" class="btn btn-primary" onclick="request_data(); return false;">
					      			Task
					      		</button>
				      		</div>
						</div>
				</div>
			</div>	
			<div class="col-lg-12" id='task_status'></div>
			<div class="col-lg-12" id='result'></div>
		</div>
	</div>

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	</body> 
</html>